akshare
backtrader
beautifulsoup4
bidict
Cerberus
cowpy
docxtpl
dynaconf
easydict
elo
Flask
flask_socketio
imageio
jaraco.functools
Jinja2
keras
line_profiler
Logbook
lxml
matplotlib==3.2.2
mock
msgpack_python
munch
numpy
pandas
pandas_profiling
pdfkit
Pillow
psutil
pyautogui
pyecharts
pyglet
pyparsing
PyPDF2
pytest
PyYAML
recordclass
recordtype
requests
rpyc
selenium
stable_baselines
statemachine
statsmodels
sympy
tensorflow==2.3.0
tensorflow_probability==0.13.0
torch==1.9.0
torchvision==0.10.0
trueskill
zerorpc
