absl-py==0.9.0
astor==0.8.1
astroid==2.2.5
astunparse==1.6.3
atomicwrites==1.4.0
attrs==19.3.0
beautifulsoup4==4.9.1
bs4==0.0.1
cachetools==4.1.1
certifi==2020.4.5.1
chardet==3.0.4
cloudpickle==1.3.0
colorama==0.4.1
cycler==0.10.0
easydict==1.9
future==0.18.2
gast==0.3.3
gevent==20.6.2
google-auth==1.18.0
google-auth-oauthlib==0.4.1
google-pasta==0.2.0
greenlet==0.4.16
grpcio==1.30.0
gym==0.17.2
h5py @ file:///opt/concourse/worker/volumes/live/98bee3fd-2687-4017-5421-d742d1f18c35/volume/h5py_1593454156895/work
idna==2.9
importlib-metadata==1.7.0
isort==4.3.21
joblib @ file:///tmp/build/80754af9/joblib_1594236160679/work
Keras==2.4.3
Keras-Applications @ file:///tmp/build/80754af9/keras-applications_1594366238411/work
Keras-Preprocessing==1.1.2
kiwisolver==1.2.0
lazy-object-proxy==1.4.1
lxml==4.5.1
Markdown==3.2.2
matplotlib==3.2.1
mccabe==0.6.1
mkl-fft==1.1.0
mkl-random==1.1.1
mkl-service==2.3.0
more-itertools==8.4.0
mplfinance==0.12.5a2
msgpack==1.0.0
mysqlclient==1.4.6
numpy==1.18.5
oauthlib==3.1.0
olefile==0.46
opt-einsum==3.2.1
packaging==20.4
pandas==1.0.4
Pillow @ file:///opt/concourse/worker/volumes/live/05b3bc99-cf9f-44f2-42cf-267ed3a55922/volume/pillow_1594307311725/work
pluggy==0.13.1
protobuf==3.12.2
py==1.9.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
pyglet==1.5.0
pylint==2.3.1
PyMySQL==0.9.3
pynotice==0.0.2
pyparsing==2.4.7
pytest==5.4.3
python-dateutil==2.8.1
pytz==2020.1
PyYAML==5.3.1
pyzmq==19.0.1
requests==2.23.0
requests-oauthlib==1.3.0
rsa==4.6
scikit-learn @ file:///opt/concourse/worker/volumes/live/eab838ab-55a5-40d0-5cbd-f1854d35aa9d/volume/scikit-learn_1592503039331/work
scipy @ file:///opt/concourse/worker/volumes/live/14622691-c324-4e90-5a99-87aced91207b/volume/scipy_1592930535761/work
seaborn==0.10.1
simplejson==3.17.0
six==1.15.0
soupsieve==2.0.1
SQLAlchemy==1.3.17
tensorboard==2.2.2
tensorboard-plugin-wit==1.7.0
tensorflow==2.2.0
tensorflow-estimator==2.2.0
termcolor==1.1.0
threadpoolctl @ file:///tmp/tmp9twdgx9k/threadpoolctl-2.1.0-py3-none-any.whl
torch==1.5.1
torchvision==0.6.0a0+35d732a
tushare==1.2.60
typed-ast==1.4.0
urllib3==1.25.9
wcwidth==0.2.5
websocket-client==0.57.0
Werkzeug==1.0.1
wincertstore==0.2
wrapt==1.11.2
zerorpc==0.6.3
zipp==3.1.0
zmail==0.2.5
zope.event==4.4
zope.interface==5.1.0
